.btnHoverEffct {
  z-index: 1 !important;
}
.btnHoverEffct:hover {
  color: #fff472;
  transition: ease-in-out 0.4s;
}

:root {
  --swiper-navigation-size: 20px !important;
}

.swiper-container {
  /* set to desired width and height */
  width: 100%;
  height: 100%;
}

.swiper-scrollbar-drag {
  background-color: #ff0000 !important;
}

.mySwiper2 .swiper-scrollbar {
  width: 70px !important; /* set to desired width */
}

.swiper-button-next {
  border: 2px solid #1562ff !important;
  border-radius: 20px !important;
  padding: 14px !important;
  background-color: white !important;
  color: #1562ff !important;
  transition: ease-in-out 0.3s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.swiper-button-next:hover {
  background-color: #1562ff !important;
  color: white !important;
  transition: ease-in-out 0.3s !important;
}

.swiper-button-prev {
  border: 2px solid #1562ff !important;
  border-radius: 20px !important;
  padding: 14px !important;
  background-color: white !important;
  color: #1562ff !important;
  transition: ease-in-out 0.3s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.swiper-button-prev:hover {
  background-color: #1562ff !important;
  color: white !important;
  transition: ease-in-out 0.3s !important;
}
.clearance-container {
  min-height: 500px;
  width: 100%;
  background-image: url('../../assets/images/Clearance\ Sale\ SKU-01.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding: 40px 40px 40px 120px;
}
